.pageNation {
  display: flex;
  justify-content: center;
  gap: 12px;
  li {
    display: block;
    a {
      font-size: 16px;
      display: block;
      width: fit-content;
      padding: 8px 12px;
      color: #fff;
      border: 1px solid #fff;
    }
  }
  li.active {
    background-color: rgba($color: #000000, $alpha: 1);
  }
}
